/* Différents types de polices téléchargés*/

@font-face {
  font-family: 'Blazed';
  src: url(../fonts/Blazed-Regular.ttf);
  font-weight: normal;
}
@font-face {
font-family: 'Awake';
src: url(../fonts/Awake_the_Beauty.ttf);
font-weight: normal;
}
@font-face {
font-family: 'Lucian';
src: url(../fonts/Lucian_Schoenschrift.ttf);
font-weight: normal;
}
@font-face {
font-family: 'Amarante';
src: url(../fonts/Amarante-Regular.ttf);
font-weight: normal;
}

html {
position: relative;
height: 100%;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-ms-overflow-style: scrollbar;
-webkit-tap-highlight-color: transparent;

background-repeat: no-repeat;
background-size: cover;
}

body{
position: relative;
margin: 0;
padding: 0;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: scroll;
}

/* Button humburger */

.navbar-toggler{
background-color:white;
width: fit-content;
position: relative;
justify-content: center;
}



/* barre de navigation */

.navbar {
position:fixed;
top: 0;
left: 0;
right: 0;
max-height: 80px;
background-color: #FFE4B5;
position: fixed;
justify-content: center;
z-index: 1;

}

/* Fromage box*/
.navbar-brand p{
font-family: 'Awake';
font-size:35px;
font-weight: bold;
color: black;
}

.navbar-brand p:hover{
color: black;
text-decoration: underline;
text-decoration-color: black;

}

.nav-link p{
color: black;
font-size: 16px;
}

.nav-link p:hover{
text-decoration: underline;
text-decoration-color: black;
}

.dropdown-menu{
color:black;
}

.dropdown-toggle:hover {
text-decoration: underline;
}
.dropdown-item:hover {
background-color: lightgray;
}

.nav-link i{
color: black;
font-weight: bold;
}

.nav-link i:hover{
color: var(--yellow);
}

.navbar-link li a:hover {
color: black;
text-decoration: underline;
text-decoration-color: white;
}

.fa{
color:black;
}


/* Section */
.container{
margin-bottom: 2rem;
}


/* the footer */

footer {
width:100%;
margin-bottom: 0px;
bottom:0px;
right: 0cm;
background-color: #FFE4B5;
}

h2{
font-size: 20px;
}

h5{
font-size: 15px;
font-weight: normal;
}





